.menu-inner .scroll-content{
    background: red;
}
.item-md.item-block .item-inner{
    border-bottom:0 !important;
}
.header-box{
    width: 100%;
    height: 80px;
    padding: 10px;
    background: #00CB82;

    p{
        margin: 5px;
        color: #fff;
    }

    .pp{
        width: 50px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }
}
.custom-menu{
    padding: 0;
    list-style: none;
    background: rgb(248, 248, 248);
    margin:0;
    overflow: auto;
    height: calc(100% - 80px);
    position: relative;

    .label-ios {
        margin: 6px 8px 6px 0;
    }

    li{
        padding: 0;
        list-style: none;
        background: #fff;
        width: 90%;
        border-radius: 40px;
        margin: 10px 0 10px 5%;

        ion-col{
            color: #00CB82;
            &:first-child{
                text-align: center;
                font-size: 1.2em;
            }            
        }        
    }
    li.logout{
        position: absolute;
        bottom: 10px;
        text-align: center;
        background: transparent;
    }
}

.item-ios.item-block .item-inner{
    border: 0 !important;
}