<ion-menu [content]="content" type="overlay">
  <ion-content>
    <div class="header-box">
        <ion-grid>
            <ion-row>
              <ion-col col-8>
                <p><b>Angel Garcia</b></p>
                <p>angelrodriguez@ucol.mx</p>               
              </ion-col>
              <ion-col col-4>
                  <img src="assets/imgs/pp.jpg" class="pp" alt="">
              </ion-col>
            </ion-row>
          </ion-grid>
    </div>
    <ul class="custom-menu">
      <li class="item" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <div >
            <ion-grid>
                <ion-row>
                  <ion-col col-3>
                      <ion-icon name="{{p.icon}}"></ion-icon>                      
                  </ion-col>
                  <ion-col col-9>
                      {{p.title}}
                    </ion-col>
                </ion-row>
              </ion-grid>
        </div>
      </li>
    </ul>    
    <!--<ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>-->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>